@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital,wght@1,300&family=Quicksand&display=swap');
@import 'variables';
@import 'navBar';
@import 'contacto';
@import 'buttonWsp';
@import 'footer';

@mixin topleft ($top, $left) {
	top: $top;
	left: $left;
}

@mixin size ($w, $h) {
	width: $w;
	height: $h;
}

* {
	Margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 60px;
	font-weight: 800;
	line-height: 80px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

h2 {
	font-size: 48px;
	margin-bottom: 30px;
}

p {
	font-size: 18px;
}

ul {
	list-style: none;
}

li {
	font-size: 1.25em;
	
}

a p {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.topmargin-xs {
	margin-top: 15px;
}

.topmargin-sm {
	margin-top: 30px;
}

.topmargin-lg {
	margin-top: 60px;
}

html {
	scroll-behavior: smooth;
}

body {
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	background-color: #ffffff;
	height: 10px;
}

.atributo-portadas {
	padding-top: 5px;
	background-size: cover;
	color: #ffffff;
}

#foto-bienvenido-home {
	background-image: url(../fotos/matebienvenido.jpg);
	@extend .atributo-portadas;
}

#foto-bienvenido-mates {
	background-image: url(../fotos/apartado-mate-header.jpg);
	@extend .atributo-portadas;
}

#foto-bienvenido-bombillas {
	background-image: url(../fotos/apartado-bombilla-header.jpeg);
	
	@extend .atributo-portadas;
}

#foto-bienvenido-yerba {
	background-image: url(../fotos/yerbas.jpg);
	@extend .atributo-portadas;
}

#foto-bienvenido-setmatero {
	background-image: url(../fotos/setmatero2.jpeg);
	@extend .atributo-portadas;
}
.texto {
	max-width: 800px;
	margin: 280px auto 170px auto;
	text-align: center;
}

// QUIENES SOMOS? + LINK QUE LLEVA AL VIDEO QUE ESTA ANTES DEL FOOTER
.quienes-somos {
	position: absolute;
	@include topleft(80%, 50%)
}

.btn {
	font-size: 18px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;
}

.btn-light {
	background-color: #ffffff;
	color: #1a1a1a;
	border: 2px solid #ffffff;
}


#about {

	background-color: #1a1a1a;

	h2 {
		display: flex;
		justify-content: center;
		color: #ffffff;
		padding-top: 35px;
	}
}


.video {
	display: flex;
	justify-content: center;
	align-items: center;

}


////////////////////////////////////////////////////////////////////


// CONTENIDO LINKEABLE A LAS SECCIONES + FONDO EN MOVIMIENTO 

.contenido-centrado {
	max-width: 800px;
	margin: 120px auto 60px auto;
	text-align: center;
}

.container-fluid {
	display: flex;
	flex-direction: column;
}

.caja-container {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 2px;
}

.caja-container img {
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;

}

.caja-container:hover img {
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);

}

.caja-detalles {
	position: absolute;
	left: 40%;
	right: 50%;
	bottom: 50%;
	top: 50%;
	color: #1a1a1a;
			-webkit-text-stroke: 2px #ffffff;
	z-index: 1;
	a {
		.text-color {
			font-size: 48px;
			font-weight: 800;
			line-height: 80px;
			color: #1a1a1a;
			// -webkit-text-stroke: 2px #1a1a1a;
			margin-bottom: 30px;
			
		}
	}
}

////////////////////////////////////////////////////////////////////



// SECCION DE PAGINAS / MATES / BOMBILLAS/ YERBAS / SETMATERO
#mates {
	background-color: $color-contProd;
}

#bombillas {
	background-color: $color-contProd;
}

#yerbas {
	background-color: $color-contProd;
}

#setmatero {
	background-color: $color-contProd;
}

.container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;

	.producto {
		border-radius: 6px;
		@include size (330px, 500px);
		box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
		background-color: rgb(255, 255, 255);
		margin: 20px;
		overflow: hidden;
		cursor: pointer;
		transition-property: box-shadow;
		transition-duration: 0.3s;
	}
}

.informacion {
	margin-bottom: 0.5em;
	display: flex;
	flex-flow: column;
	border-top: 1px solid rgb(230, 230, 230);
	padding: 1em;
}

.precio {
	font-size: 1.5em;
}

.envio {
	color: rgb(0, 166, 80);
	font-size: 0.9em;
}

.descripcion {
	font-weight: 300;
	font-size: 0.9em;
}

.producto {
	&:hover {
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
	}

	>img {
		width: 100%;
		object-fit: cover;
	}
}

.tipo-de-envio {
	background-color: rgb(52, 131, 250);
	color: rgb(255, 255, 255);
	font-weight: 600;
	max-width: max-content;
	padding: 0 0.2em;
	border-radius: 3px;
}


/* 'ORDENAR POR */
.relevancia {
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-right: 250px;
}


// MEDIA QUERIES 


@media (max-width: 575.98px) {
	h1 {
		font-size: 40px;
		line-height: normal;
	}

	.contenido-centrado {
		max-width: 800px;
		margin: 70px auto 60px auto;
		text-align: center;
	}

	.caja-detalles {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		left: 50%;
		right: 50%;
		bottom: 50%;
		top: 50%;
	}

	.caja-detalles h2 {
		margin: auto auto auto;
		color: #1a1a1a;
		text-shadow: 0 0 px rgb(255, 254, 254);
	}

	.contenedor-video iframe {
		width: 370px;
		height: 340px;
	}


}

@media (min-width: 576px) and (max-width: 767.98px) {}


@media (min-width: 768px) and (max-width: 991.98px) {}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}